/* Top of the contact form */
.left-section {
  background-color: #0d0d0d;
  font-family: "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.contact-info p {
  margin-top: 5px;
  margin-bottom: 30px;
}

.contact-items,
.contact-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* spacing between items */
  margin-bottom: 30px; /* space between items and hours section */
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1); /* Makes icons white */
}

.contact-info h1 {
  color: #ffffff;
  padding-bottom: 5px;
}

.contact-items span,
.contact-hours span,
.contact-hours p,
.contact-info p {
  color: #aba4a4;
}

/* Bottom of the contact form */
.right-section {
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em 1.5em;
  display: flex;
  justify-content: center;
}

form,
.name-field {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
}

form label {
  font-weight: 600;
  margin-top: 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  background-color: white;
}

form textarea {
  min-height: 140px;
  max-height: 500px;
  resize: vertical;
}

.submit-button {
  width: fit-content;
  align-self: flex-end;
  background-color: #d32f2f;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.submit-button:hover {
  background-color: #b92424;
}

.error {
  color: red;
  font-size: 16px;
}

/* For tablet devices */
@media screen and (min-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: row;
  }

  .left-section {
    max-width: 350px;
  }

  .right-section {
    flex: 1; /* allows it to grow and fill remaining space */
    min-width: 0; /* prevents overflow in some browsers */
  }

  .contact-info p {
    padding: 12px;
    font-size: 16px;
  }

  .contact-items,
  .contact-hours {
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 16px;
  }

  .contact-items {
    gap: 12px;
  }

  .item img {
    object-fit: contain;
  }

  form,
  .name-field {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .submit-button {
    margin-top: 2em;
  }
}

/* For Laptop / large devices */
@media screen and (min-width: 1024px) {
  .left-section {
    max-width: 450px;
  }

  .contact-info p {
    padding: 15px;
    font-size: 18px;
  }

  .contact-items,
  .contact-hours {
    font-size: 18px;
  }

  form {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Make first and last name in one row */
  .name-row {
    display: flex;
    gap: 18px;
  }

  .name-field {
    flex: 1; /* make both inputs share the space equally */
    display: flex;
    flex-direction: column;
  }

  form input,
  form textarea {
    width: 100%;
  }

  .submit-button {
    margin-top: 2em;
  }
}
