* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background: #2f3131;
  color: white;
  padding: 40px 20px 20px;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.footer h2 {
  font-size: 18px;
  padding-bottom: 0.5em;
}

.footer p {
  font-size: 18px;
}

/* Links stacked */
.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 12px;
  padding: 0;
}

/* Social media icons */
.footer-contact ul {
  display: flex;
  flex-direction: row;
  gap: 18px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.footer-links a,
.footer-contact a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.2s ease;
}

.footer-links a:hover,
.footer-contact a:hover {
  color: #dabe99;
}

.flaticon-logo {
  width: 30px;
  height: 30px;
}

.footer-bottom p {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 12px;
  font-size: 16px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 20px;
  }

  /* Links + Social media icons */
  .footer-contact ul,
  .footer-links ul {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 0;
    list-style: none;
    justify-content: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    width: 30%;
    padding-left: 4em;
  }

  /* Left-align lists again on tablet */
  .footer-links ul,
  .footer-contact ul {
    justify-content: flex-start;
    gap: 16px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .footer h2 {
    font-size: 22px;
  }

  .footer-links a,
  .footer-contact a,
  .footer-contact p {
    font-size: 20px;
  }

  .footer-bottom p {
    font-size: 18px;
  }
}
