* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- TABLET / DESKTOP ---------------- */
/* Header container */
.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #000000;
}

/* Default Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #aba4a4;
}

/* links sits on the right-side  */
.nav_right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

/* logo sits on the left-side  */
.nav_center {
  position: static;
  transform: none;
}

.nav_logo {
  width: 6em;
  height: 6em;
}

.nav_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav_link:hover {
  color: #dcd0c0;
}

/* Hamburger icon (hidden on desktop) */
.open-sidebar {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.hamburger {
  width: 40px;
  height: 40px;
  display: block;
  background-color: black;
}

/* ---------------- MOBILE (SIDEBAR) ---------------- */
@media (max-width: 500px) {
  .mobile_logo_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    padding-top: 2em;
  }

  .nav_center {
    position: static;
    transform: none;
  }

  .nav_logo {
    width: 6em;
    height: 6em;
  }

  .open-sidebar {
    display: block;
    background-color: white;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    background-color: #000000;
    height: 100vh;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
    transition: left 0.3s ease-in-out;
    z-index: 1;
  }

  .nav-bar.show {
    left: 0;
  }

  .nav-bar--close {
    display: block;
  }

  .nav_left,
  .nav_right {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
