*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#rider-logo{
    width: 4em;
    height: 4em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links li a:hover {
  color: rgb(243, 194, 151);
}