*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
  background: black; /* dark footer */
  color: white;
  margin-top: 40px;
  padding: 40px 20px 20px;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.footer h2{
    font-size: 18px;
    padding-bottom: 0.5em;
}

.footer-links ul, .footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-links li, .footer-contact li{
  margin-bottom: 6px;
}

.footer-links a, .footer-contact a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: rgb(243, 194, 151);
}

.footer-contact a:hover {
    color: rgb(243, 194, 151);
}

.footer-contact p {
  font-size: 18px;
  color: white;
  margin-bottom: 14px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 12px;
  font-size: 14px;
  color: white;
}